.playQuiz_container {
  background: #041325;
  height: 100vh;
  padding: 3rem;
  width: -webkit-fill-available;
  overflow-y: hidden;
}
.quiz_questions_wrapper {
  border-radius: 1rem;
  gap: 0.6rem;
  margin: auto;
  height: 80vh;
  padding: 2rem;
  width: 80%;
  background-color: #ffffff;
  text-align: center;
}
.questions_header {
  display: flex;
  font-size: 1.3rem;
  justify-content: space-between;
  padding: 0.5rem;
}
.questions {
  font-size: 1.5rem;
  font-weight: 550;
  text-align: center;
  font-weight: 600;
}
/* .options_wrapper {
  padding: 1.5rem 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
} */
.option {
  padding: 1.5rem 0.5rem;
  cursor: pointer;
  background: #f0f0f0;
  border-radius: 8px;
  font-size: 1.2rem;
}
.submit_quiz_btn {
  background: #60b84b;
  border: none;
  border-radius: 0.625rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  padding: 0.55rem 3rem;
  transition-duration: 0.4s;
  min-width: 15rem;
}
.selected {
  border: 2px solid #5076ff;
}
.ImageOption {
  padding: 0;
}
.options_wrapper_text {
  padding: 1.5rem 2.5rem;
  grid-gap: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.playQuizImg {
  width: 100%;
  height: 90px;
}
.textImg_wrapper {
  display: flex;
  align-items: center;
  gap: 46px;
  padding: 0 15px;
}

@media only screen and (max-width: 510px) {
  .options_wrapper_text {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    padding: 1.5rem 1.5rem;
  }
  .quiz_questions_wrapper {
    padding: 2rem 1rem;
  }
  .submit_quiz_btn {
    padding: 0.5rem 0;
  }
  .playQuizImg {
    height: 60px;
  }
}

@media only screen and (max-width: 655px) {
  .option {
    padding: 1rem 1.4rem;
  }
  .quiz_questions_wrapper {
    padding: 2rem 0;
  }
  .options_wrapper_text {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    padding: 1.5rem 1.5rem;
  }
 
}
